<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Spec Runner</title>
 
  <link rel="shortcut icon" type="image/png" href="../images/jasmine_favicon.png">

  <link rel="stylesheet" href="../stylesheets/jasmine.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <script src="../javascripts/backbone/underscore.js"></script>
  <script src="../javascripts/backbone/backbone.js"></script>
  <script src="../javascripts/application.js"></script>
  <script src="../javascripts/jasmine/jasmine.js"></script>
  <script src="../javascripts/jasmine/jasmine-html.js"></script>
  <script src="../javascripts/backbone/jquery.js"></script>

  <!-- include source files here... -->
  <script src="../javascripts/backbone/models/cell.js"></script>
  <script src="../javascripts/backbone/models/board.js"></script>
  <script src="../javascripts/deadCellRule.js"></script>
  <script src="../javascripts/liveCellRule.js"></script>
  <script src="../javascripts/exactlyThreeLiveNeighborsRule.js"></script>
  <script src="../javascripts/fewerThanTwoLiveNeighborsRule.js"></script>
  <script src="../javascripts/threeOrMoreLiveNeighborsRule.js"></script>
  <script src="../javascripts/twoOrThreeLiveNeighborsRule.js"></script>
  <script src="../javascripts/gamePlay.js"></script>
  
  <!-- include spec files here... -->
  <script src="../javascripts/jasmine/specs/gamePlaySpec.js"></script>  
  <script src="../javascripts/jasmine/specs/boardSpec.js"></script>
  <script src="../javascripts/jasmine/specs/cellSpec.js"></script>
  <script src="../javascripts/jasmine/specs/deadCellRuleSpec.js"></script>
  <script src="../javascripts/jasmine/specs/liveCellRuleSpec.js"></script>
  <script src="../javascripts/jasmine/specs/exactlyThreeLiveNeighborsRuleSpec.js"></script>
  <script src="../javascripts/jasmine/specs/fewerThanTwoLiveNeighborsRuleSpec.js"></script>
  <script src="../javascripts/jasmine/specs/threeOrMoreLiveNeighborsRuleSpec.js"></script>
  <script src="../javascripts/jasmine/specs/twoOrThreeLiveNeighborsRuleSpec.js"></script>
  
  <script type="text/javascript">
    (function() {
      var jasmineEnv = jasmine.getEnv();
      jasmineEnv.updateInterval = 1000;

      var trivialReporter = new jasmine.TrivialReporter();

      jasmineEnv.addReporter(trivialReporter);

      jasmineEnv.specFilter = function(spec) {
        return trivialReporter.specFilter(spec);
      };

      var currentWindowOnload = window.onload;

      window.onload = function() {
        if (currentWindowOnload) {
          currentWindowOnload();
        }
        execJasmine();
      };

      function execJasmine() {
        jasmineEnv.execute();
      }

    })();
  </script>

</head>

<body>
</body>
</html>